<%= form_for(server) do |f| %>
  <% if server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(server.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
      <% server.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hostname %>
    <%= f.text_field :hostname %>
  </div>

  <div class="field">
    <%= f.label :ip %>
    <%= f.text_field :ip %>
  </div>

  <div class="field">
    <%= f.label :os %>
    <%= f.text_field :os %>
  </div>

  <div class="field">
    <%= f.label :cpucores %>
    <%= f.number_field :cpucores %>
  </div>

  <div class="field">
    <%= f.label :memory %>
    <%= f.number_field :memory %>
  </div>

  <div class="field">
    <%= f.label :disk %>
    <%= f.number_field :disk %>
  </div>

  <div class="field">
    <%= f.label :form_id %>
    <%= f.text_field :form_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
