<%= form_for(form) do |f| %>
  <% if form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(form.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="table table-bordered">
  <tbody>
    <tr>
      <th scope="row" class="row-description">Server Environment</th>
      <td>
        <%= f.label(:environment, 'Development') %>
        <%= f.radio_button(:environment, 'development') %>
        <%= f.label(:environment, 'Test') %>
        <%= f.radio_button(:environment, 'test') %>
        <%= f.label(:environment, 'QA') %>
        <%= f.radio_button(:environment, 'qa') %>
        <%= f.label(:environment, 'Production') %>
        <%= f.radio_button(:environment, 'production') %>
      </td>
    </tr>

    <tr>
      <th scope="row" class="row-description">Server Location</th>
      <td><%= f.text_field(:location, class: "form-control") %></td>
    </tr>

    <tr>
      <th scope="row" class="row-description">Server Purpose</th>
      <td><%= f.text_area(:purpose, class: "form-control") %></td>
    </tr>

    <tr>
      <th scope="row" class="row-description">Application Name </th>
      <td><%= f.text_field(:name, class: "form-control") %></td>
    </tr>

    <tr>
      <th scope="row" class="row-description">Server Accessibility</th>
      <td>
        <%= f.label :accessibility,'Internal' %>
        <%= f.radio_button(:accessibility,'internal') %>
        <%= f.label :accessibility,'External' %>
        <%= f.radio_button(:accessibility,'external') %>
        <%= f.label :accessibility,'Both' %>
        <%= f.radio_button(:accessibility,'both') %>
      </td>
    </tr>

    <tr>
      <th scope="row" class="row-description">Application Description</th>
      <td><%= f.text_area(:description, class: "form-control") %></td>
    </tr>
  </tbody>
</table>

  <!-- section for servers -->
<div>
  <table id="server-table" class="table table-bordered">
    <tr>
      <th class="row-description">Host Name</th>
      <th class="row-description">IP Address</th>
      <th class="row-description">Operating System</th>
      <th class="row-description">CPU Cores</th>
      <th class="row-description">Memory(GB)</th>
      <th class="row-description">Disk Space(GB)</th>
    </tr>

  <div id="server-row">
    <tr>
    <%= f.fields_for(:servers, Server.new, remote: true) do |server| %>
      <td><%= server.text_field :hostname, class: "form-control" %></td>
      <td><%= server.text_field :ip, class: "form-control" %></td>
      <td><%= server.select :os, options_for_select(["Ubuntu", "CentOS"], {class: "form-control"}) %></div>
      <td><%= server.number_field :cpucores, class: "form-control" %></td>
      <td><%= server.number_field :memory, class: "form-control" %></td>
      <td><%= server.number_field :disk, class: "form-control" %></td>
    <% end %>
    </tr>
  </div>
  </table>
  <td><button type="button" id="add-server" class="pull-right">Add Another Server!</button></td>
</div>
<div>
  <!-- section for load balancers -->
  <table id="load-balancer-table" class="table table-bordered">
  <tr>
    <th class="row-description">Type</th>
    <th class="row-description">IP Address</th>
    <th class="row-description">HTTP or APP</th>
  </tr>

  <div id="load-balancer-row" class="table table-boredered">
    <tr>
    <%= f.fields_for(:load_balancers, LoadBalancer.new, remote: true) do |balancer| %>
      <td><%= balancer.select :lb_type, options_for_select(["Kemp", "HA Proxy", "Zen"]) %></td>
      <td><%= balancer.text_field :ip_address, class: "form-control" %></td>
      <td><%= balancer.text_field :server_type, class: "form-control" %></td>
    <% end %>
    </tr>
  </table>
  <td><button type="button" id="add-load-balancer" class="pull-right">Add Load Balancer</button></td>
</div>


  <div class="actions">
    <%= f.submit %>
  </div>


<!-- JavaScript -->
  <script>
    $(document).ready(function(){
        var count = 1;
        $("#add-server").click(function(){
          $("#server-table").append('\
            <tbody> \
              <tr> \
                <td><input class="form-control" type="text" name="form[servers_attributes][' + count + '][hostname]" id="form_servers_attributes_' + count + '_hostname"></td> \
                <td><input class="form-control" type="text" name="form[servers_attributes][' + count + '][ip]" id="form_servers_attributes_' + count + '_ip"></td> \
                <td><select name="form[servers_attributes][' + count + '][os]" id="form_servers_attributes_' + count + '_os"><option value="Ubuntu">Ubuntu</option><option value="CentOS">CentOS</option></select></td> \
                <td><input class="form-control" type="number" name="form[servers_attributes][' + count + '][cpucores]" id="form_servers_attributes_' + count + '_cpucores"></td> \
                <td><input class="form-control" type="number" name="form[servers_attributes][' + count + '][memory]" id="form_servers_attributes_' + count + '_memory"></td> \
                <td><input class="form-control" type="number" name="form[servers_attributes][' + count + '][disk]" id="form_servers_attributes_' + count + '_disk"></td> \
              </tr > \
            </tbody> \
          ');
          count++;
        });
    });

    $(document).ready(function(){
        var count = 1;
        $("#add-load-balancer").click(function(){
          $("#load-balancer-table").append('\
            <tbody> \
              <tr> \
                <td><select name="form[load_balancers_attributes][' + count + '][lb_type]" id="form_load_balancers_attributes_' + count + '_lb_type"><option value="Kemp">Kemp</option><option value="HA Proxy">HA Proxy</option><option value="Zen">Zen</option></select></td> \
                <td><input class="form-control" type="text" name="form[load_balancers_attributes][' + count + '][ip_address]" id="form_load_balancers_attributes' + count + '_ip_address"></td> \
                <td><input class="form-control" type="text" name="form[load_balancers_attributes][' + count + '][server_type]" id="form_load_balancers_attributes_' + count + '_server_type"></td> \
              </tr > \
            </tbody> \
          ');
          count++;
        });
    });
  </script>

<% end %>
